<% include header.ejs %>

<script type="text/javascript" src="/javascripts/socket.io.js"></script>
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

	<div class="well jumbotron">
		<h1><%= title %></h1>
		<p>输入用户名开始socket聊天</p>
		
		<form class="form-inline" method="post" onsubmit="javascript:return false;">
		  <div class="from-group">
			<div class="input-group">
				<input type="text" class="form-control" id="username" placeholder="用户名"/>
			</div>
			<br/>
			<button class="btn btn-primary" type="submit" id="btn">开始</button>
		  </div>
		  
		</form>
	</div>

	<script type="text/javascript">
	var socket = io('http://localhost:3000');
	socket.on('connect', function(){
		console.log('connectd socket');
		socket.emit('hi', '噜啦啦');
	});
		$('#btn').click(function(){
			$.post('/chat/login',{name: $('#username').val()},function(responce){
				console.log('hehe: '+responce);
				if(responce){
					window.location.href="/chat";
				}else{
					alert('用户名不存在');
				}
			});
			return false;
		});
	</script>

<% include footer.ejs %>