<% include ../common/header.ejs %>

<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<div class="container">
		<div class="rows">
			<div class="col-md-8 col-sm-8 col-xs-10 col-md-offset-2">
				<div class="login">
					<fieldset>
					  <legend>22唯一邀请链接</legend>
					  <blockquote>
  						<p><%= invite_url %></p>
					  </blockquote>
					  <span class="help-block">复制此链接发送给TA,马上开启甜蜜之旅吧~</span>
					</fieldset>
				</div>
			</div>
		</div>
	</div>

<% include ../common/footer.ejs %>